<p></p>

<div class="container">
    <h1>Welcome</h1>
    <p>
        This is an educational project "Finance Application" made for Ruby course<br><br>

        The project already has database, but you're welcome to create your own Categories and Operations in the relevant sections on the left<br>
        Also you can generate two types of reports to see spendings, by categories and dates for your choice<br><br>

        Check the <a href="https://github.com/karanaval/fin_app">repository</a>
    </p>
</div>
