<div class="container-fluid pb-3 d-flex flex-row">
    <div class="bg-light border col-xs-3 col-lg-2 p-3">
        <ul class="nav" style="font-size: x-large">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/operations">Operations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports/index">Reports</a>
          </li>
        </ul>
    </div>

  <div class="bg-light border col">
    <%= yield %>
  </div>
</div>
