<p></p>
<div class="container">
  <h1>Editing category</h1>
</div>

<div class="container">
  <%= render "form", category: @category %>
</div>

<br>

<div class="container">
  <%= link_to "Show this category", @category %> |
  <%= link_to "Back to categories", categories_path %>
</div>

<br>
