<form>

    <table>
        <tr>
            <th><label for="categories">Date from:</label></th>
            <th><%= date_field(:odate, min: Date.today) %><br></th>
        </tr>
        <tr>
            <th style="text-align:right"628><label for="categories">Date to:</label></th>
            <th><%= date_field(:odate, max: Date.today) %><br></th>
        </tr>

    </table>

    <%= link_to "Report by dates", reports_report_by_dates_path %>

</form>
