<form action="report_by_category" method="GET">

    <label for="categories">Choose a category:</label>
    <select  name="categories" id="categories">
        <option value="name"> cat1 </option>
        <option value="name"> cat2 </option>
        <option value="name"> cat3 </option>
    </select><br>

    <%= link_to "Report by categories", reports_report_by_category_path %>

</form>
