<div class="container">
  <p></p>
  <h1>Editing operation</h1>
</div>

<div class="container">
  <%= render "form", operation: @operation %>
</div>

<br>

<div class="container">
  <%= link_to "Show this operation", @operation %> |
  <%= link_to "Back to operations", operations_path %>
</div>

<br>
